# Build results
/build/
/.build/
DerivedData/

# Personal Xcode settings
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Lokale Signierung
Config/Local.xcconfig

# Erzeugte Build-Nummer
Config/BuildNumber.xcconfig
